@import './colors.css';
@import './_auth.module.css';
/* .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */
main {
    flex-grow: 1;
}
.btn-max-width {
    width: 100%;
}
